.container {
  width: 100%;
  height: 100%;
  height: 100%;
  min-width: auto;
  min-height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.slide {
  width: 270px;
  height: 330px;
}
.slide img {
  width: 270px;
  height: 330px;
}
.slide h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
.slide p {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.disc {
  width: 70%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  min-width: auto;
  min-height: auto;
}
.disc .logo {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.disc .logo img {
  width: 100px;
  height: 100px;
}
.disc .logo h2 {
  height: 20%;
  width: 70%;
  font-size: auto;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
.disc p {
  width: 100%;
  height: 70%;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  justify-content: start;
}
.disc .buttons {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.disc button {
  width: 150px;
  height: auto;
  background: #000000;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #fcfcfc;
  border-radius: 5px;
  border: none;
  letter-spacing: 0.2px;
}
.disc button:hover {
  background: rgb(70, 70, 70);
}

@media screen and (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .slide {
    width: 350px;
    height: auto;
  }
  .slide img {
    width: 350px;
    height: auto;
  }
  .disc {
    width: auto;
    height: auto;
  }
}
